<h1><%= @machine.location %> Vending Machine</h1>


<% @machine.snacks.each do |snack| %>
  <h3>
    <%= snack.name %>: $<%= snack.price %>
  </h3>
<% end %>

<h3>
  Average Price: $<%= @machine.average_price %>
</h3>
